<h1>ようこそBookersへ！</h1>
<p>Bookersでは、さまざまな書籍に関するあなたの意見や</br>
   印象を共有し交換することができます
</p>

<%= link_to "start", "https://a9c579c9e2704334b6210e73e757f5bc.vfs.cloud9.ap-northeast-1.amazonaws.com/books" %>

